<section class="bg-primary text-white mb-0" id="about">
  <br>
  <br>
  <br>
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead"> BBPLUS is to relieve human suffering and to reduce vulnerability through mobilization of volunteers and participation from communities, governments and non-governmental organizations Without discrimination on grounds of religion, race, sex, class, caste, .</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead"> tribe, nationality or political belief, the Society's purpose in Nepal is to serve war-victims, civilians and army personnel, to contribute to promoting and improving health conditions and prevention of disease, and to arrange emergency relief services for disaster victims</p>
      </div>
    </div>
   
  </div>
</section>