.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
    margin-top: 50px;
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.container{
    margin-bottom: 500px;
}

