<br>
<br>
<br>
<br>
<br>
<h2 class="text-center text-uppercase text-secondary mb-0">Upcoming Events</h2>

<div class="container">
<ul class="list-unstyled mb-2">
<li class="card card-body text-dark bg-light mb-2"> 
<!-- style="background-color: #f44336" -->
<h3 class="card-header">Your Request</h3>
<ul class="list-group text-dark">
<li class="list-group-item"><b>Blood Request Id : </b> {{request.bloodRequestId}}</li>
<li class="list-group-item"><b>Blood Group : </b> {{request.bloodGroup.bloodType}}</li>
<li class="list-group-item"><b>Pint :</b> {{request.pint}}</li>
</ul>
<div class="wrapper">
<br>    
<button class="btn btn-success" style="width: 80px" >Update</button>&nbsp;&nbsp;
<button class="btn btn-info">Delete</button>
</div>
</li>

</ul>

</div> 

