<div class="container">
  <h2 class="text-center text-uppercase text-secondary mb-0">Request Blood </h2>
  <hr class="star-dark mb-5">
   <div  class="col-xs-1" align="center">
  <form name="sentMessage" id="contactForm" novalidate="novalidate">
        <div class="control-group" style="width: 300px;">
          <div class="form-group  controls mb-0 pb-2" >
            <h3>Blood Type</h3>
            <select name="blood-group" class="form-control">
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
            </select>
          </div>
          <div class="form-group controls mb-0 pb-2" >
            <h3>District</h3>
           
          </div>
        </div>
        
        <br>
        <div id="success"></div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">SEARCH</button>
        </div>
      </form>
      </div>
      
</div>
