.dropdown:hover>.dropdown-menu {
    display: block;
  }


#navbarNav{
 padding-left: 100;
}

body,
li {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}
