<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="../img/logo 5.png" height="40px" width="100px"></a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded bg-secondary" routerLink="/home">Home</a>
            </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded bg-secondary" *ngIf="loginToken != null && loginToken !== ''" routerLink="/search" >Request Blood</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded bg-secondary" routerLink="/event">Events</a>
        </li>

       
        <li class="nav-item dropdown mx-0 mx-lg-1">
          <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded bg-secondary" id="navbarDropdown" role="button" *ngIf="loginToken != null && loginToken !== ''" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Details</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  routerLink="/userinfo">Info</a>
            <a class="dropdown-item" routerLink="/userrequest">Requests</a>
          </div>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded bg-secondary" routerLink="/about">About</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded bg-secondary" routerLink="/register">Register</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1" *ngIf="loginToken == null || loginToken === ''">
          <button class="btn btn-light py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-toggle="modal" routerLink="/login" data-target="#exampleModalLong">Login</button>
        </li>
        <li class="nav-item mx-0 mx-lg-1" *ngIf="loginToken != null && loginToken !== ''">
          <button class="btn btn-light py-3 px-0 px-lg-3 rounded js-scroll-trigger" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>