<br>
<br>
<br>
<section class="search" id="search">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Search Blood</h2>
    <hr class="star-dark mb-5">
     <div  class="col-xs-1" align="center">
    <form #f="ngForm" (ngSubmit)="bloodForm()" name="sentMessage" id="BloodForm">
          <div class="control-group" style="width: 300px;">
            <div class="form-group  controls mb-0 pb-2" >
              <h3>Blood Type</h3>
              <select name="blood-group" class="form-control">
                <option value="{{b.bloodType}}" *ngFor="let b of bloodGroup">{{b.bloodType}}</option>
  
              </select>
            </div>

            <div class="control-group" style="width: 300px;">
                <div class="form-group  controls mb-0 pb-2" >
                  <h3>Pint</h3>
                  <input type="text" name="pint" class="form-control">                    
                </div>
            </div>

            <!-- <div class="form-group controls mb-0 pb-2" >
              <h3>District</h3>
              <select name="blood-group" class="form-control">
                <option value="A+">Bagmati</option>
                <option value="A-">Karnali</option>
                <option value="B+">Koshi</option>
                <option value="B-">Gandaki</option>
                <option value="A+">Baitadi</option>
                <option value="A-">Dadeldhura</option>
                <option value="B+">Darchula</option>
                <option value="B-">Kanchanpur</option>
                <option value="A+">Achham</option>
                <option value="A-">Bajhang</option>
                <option value="B+">Bajura</option>
                <option value="B-">Gandaki</option>
                <option value="A+">Doti</option>
                <option value="A-">Kailali</option>
                <option value="B+">Banke</option>
                <option value="B-">Bardia</option>
                <option value="A+">Dailekh</option>
                <option value="A-">Jajarkot</option>
                <option value="B+">Surkhet</option>
                <option value="B-">Dolpa</option>
                <option value="A+">Jumla</option>
                <option value="A-">Rolpa</option>
                <option value="B+">Koshi</option>
                <option value="B-">Kalikot</option>
                <option value="A+">Humla</option>
                <option value="A-">Rukum</option>
                <option value="B+">Mugu</option>
                <option value="B-">Salyan</option>
                <option value="A+">Pyuthan</option>
                <option value="A-">Dang</option>
                <option value="B+">Baglung</option>
                <option value="B-">Parbat</option>
                <option value="A+">Mustang</option>
                <option value="A-">Myagdi</option>
                <option value="B+">Gorkha</option>
                <option value="B-">Lamjung</option>
                <option value="A+">Kaski</option>
                <option value="A-">Manang</option>
                <option value="B+">Syangja</option>
                <option value="B-">Tanahu</option>
                <option value="A+">Arghakhanchi</option>
                <option value="A-">Kapilbastu</option>
                <option value="B+">Nawalparasi</option>
                <option value="B-">Palpa</option>
                <option value="A+">Rupandehi</option>
                <option value="A-">Bhaktapur</option>
                <option value="B+">Dhading</option>
                <option value="B-">Kathmandu</option>
                <option value="A+">Kabhrepalanchok</option>
                <option value="A-">Lalitpur</option>
                <option value="B+">Rasuwa</option>
                <option value="B-">Nuwakot</option>
                <option value="A+">Sindhupalchok</option>
                <option value="A-">Ramechhap</option>
                <option value="B+">Sarlahi</option>
                <option value="B-">Dhanusa</option>
                <option value="A+">Dolakha</option>
                <option value="A-">Mahottari</option>
                <option value="B+">Sindhuli</option>
                <option value="B-">Makwanpur</option>
                <option value="A+">Parsa</option>
                <option value="A-">Rautahat</option>
                <option value="B+">Bara</option>
                <option value="B-">Rautahat</option>
                <option value="B-">Ilam</option>
                <option value="A+">Jhapa</option>
                <option value="A-">Panchthar</option>
                <option value="B+">Taplejung</option>
                <option value="B-">Khotang</option>
                <option value="A+">Okhaldhunga</option>
                <option value="A-">Siraha</option>
                <option value="B+">Solukhumbhu</option>
                <option value="B-">Udayapur</option>

                <option value="A+">Bhojpur</option>
                <option value="A-">Dhankuta</option>
                <option value="B+">Morang</option>
                <option value="B-">Sankhuwasabha</option>
                <option value="A+">Terhathum</option>
              </select>
            </div> -->
          </div>
          
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">SEARCH</button>
          </div>
        </form>
        </div>
        
  </div>

</section>
